*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
}
.box1{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 input{
  padding: 3px;
  outline: none;
}
.box1 form p {
  position: relative;
}
.box2{
  width: 50%;
  height: 100vh;
}
.wrong{
  border: 1px solid red;
}
.wrong-hex{
  position: absolute;
  color: white;
  margin-left: 4.5em;
  margin-top: 3px;
}